<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Take Book | 討論區</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/discuss3.css" />
		<link rel="stylesheet" href="css/login.css" />
        <link rel="stylesheet" href="css/menu.css" />
        <link rel="stylesheet" href="css/discussMain2.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

		<!--web icon-->
    	<link rel="Shortcut Icon" type="image/x-icon" href="images/logo.png" />
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h2 class="logo"><a href="/index"><img src="images/TITLE.png" width="260" height="57"></a></h2>

						<!-- Nav -->
						<nav id="nav">
								<ul>
                                	<!--首頁-->
									<li><a class="icon fa-home" href="/#"><span>首頁</span></a></li>
                                    <!-------------------------------------------------------------------------->
                                    <!--排行榜-->
									<li>
										<a href="#" class="icon fa-bar-chart-o"><span>排行榜</span></a>
										<ul>
											<li><a href="/bookrank">熱門書排行榜</a></li>
											<li><a href="/pointrank">TB排行榜</a></li>
										</ul>
									</li>
                                   	<!-------------------------------------------------------------------------->
                                   	<!--討論區-->
									<li><a class="icon fa-cog" href="/discuss"><span>討論區</span></a></li>
                                    <!--網站規則-->
									<li><a class="icon fa-retweet" href="/rules"><span>網站規則</span></a></li>
                                    <!--個人資訊-->
									
								</ul>

								<!--login button-->
								
							</nav>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">
								<!-- Excerpt -->
								<article class="box excerpt">
									<nav id="menu">
                                        <header class="major">
                                            <h2>分類 Category</h2>
                                        </header>
									<ul>
										<li><a href="/discuss">全部 All</a></li>
												<li><a href="/discusslit">文學小說 literature</a></li>
												<li><a href="/discusstrav">旅遊 travel</a></li>
												<li><a href="/discussfin">商業理財 Financial Management</a></li>
												<li><a href="/discussfood">飲食料理 Dietary Foodk</a></li>	
												<li><a href="/discusspsy">心理勵志 Psychological Motivation</a></li>
												<li><a href="/discussedu">教育/親子教養,Parent and child Education</a></li>
												<li><a href="/discusslan">語言/字辭典,languageK</a></li>
												<li><a href="/discussart">藝術設計,Art Design</a></li>
												<li><a href="/discusslif">生活風格,Life Style</a></li>
									</ul>
									</nav>
								</article>
								</div>

							<!-- Content -->
							<div id="content" class="8u 12u(mobile) important(mobile)">

									<!-- Post -->
									<div id="products_contents">
							<ul>
							<!-- ▼▼分類1從此開始▼▼ -->
							<li id="detail">
								<ul>
									<!-- ▼▼商品1從此開始▼▼ -->
									<li class="clearfix">
											 
										<p class="picBook"><img src="<%= bookData[0].picture %>" width="180" height="200"</p>
										<p class="type"><a href="#cat_05"><%= bookData[0].type %></a></p>
										
										
										<h3 class="name"><%= bookData[0].bookName %></h3>
										<p class="word">作者：<%= bookData[0].author %><br />
                                            出版社：<%= bookData[0].publisher %><br />
                                            出版日期：<%= myDateFormat(bookData[0].date) %><br />
                                            語言：<%= bookData[0].language %><br/>
                                            分享：LINE,FB</p>
										
									</li>
									
									<!-------------------------->
										<p class="title">內容簡介</p>
									<!-------------------------->
									<li class="clearfix">
										<p class="word">
											<%= bookData[0].content %>
										</p>
                                    <!-------------------------->
										<p class="title">作者介紹</p>
									<!-------------------------->
									<li class="clearfix">
										<p class="word"><strong><%= bookData[0].author %></strong><br/>
										<%= bookData[0].authorIntro %></p>										
									</li>
									<!-------------------------->
										<p class="title">文章導讀</p>
									<!-------------------------->
                                    <ul>
									<% for(var i=0; i<noteData.length; i++) {%>
										<li class="clearfix">
												<p class="photo"><img src="<%= "images/" + noteData[i].avatar%>"width="120" height="120"/></p>
										
										<h3><a href="/discuss3"><%= noteData[i].noteTitle %></a></h3>
										<p class="text"><%= noteData[i].noteContent %></p>    
                                        <a href="#" class="icon">
                                           10 <span class="glyphicon glyphicon-thumbs-up"></span>
                                           3 <span class="glyphicon glyphicon-comment"></span>
                                        </a>                                   	
                                   		<p class="date"><%= myDateFormat(noteData[i].date) %></p>
										<a href="/discuss2" class="button">More</a>
									</li>
									<% } %> 
									
									<!-- ▲▲商品4到此為止▲▲ -->
									</ul>
									
									<p class="pagetop"><a href="/discuss3">TOP ↑</a></p>
									
								</div>

						</div>
					</div>
				</div>

			<!-- Footer -->
			<div id="footer-wrapper">
				<div id="footer" class="container">
					<header>
						<h2><strong>About Us </strong></h2>
					</header>
					<div class="row">
						<div class="6u 12u(mobile)">
							<section>
								<p>我們是來自國立台北商業大學資訊管理系的5位女孩.</br>
								我們還有Takebook LINE帳號，透過收集你的閱讀取向，</br>
								來推薦適合的書給你</br>
								還不趕快掃描加入~</p>
								<img src="http://qr-official.line.me/L/m47ROzXxy3.png">
								</form>
							</section>
						</div>
						<div class="6u 12u(mobile)">
							<section>
								<div class="row">
									<div class="6u 12u(mobile)">
										<ul class="icons">
											<li class="icon fa-home">
												100台北市<br />
												中正區濟南路一段321號
											</li>
											<li class="icon fa-phone">
												(000) 000-0000
											</li>
											<li class="icon fa-envelope">
												<a href="#">107511@ntub.edu.tw</a>
											</li>
										</ul>
									</div>
									<div class="6u 12u(mobile)">
										<ul class="icons">
											<li class="icon fa-instagram">
												<a href="#">instagram.com/TakeBook</a>
											</li>
											<li class="icon fa-facebook">
												<a href="#">facebook.com/TakeBook</a>
											</li>
										</ul>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>

			</div>

		</div>

		<!-- Scripts -->
        	<script src="js/menu.js"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/skel-viewport.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>