<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Take Book | 個人資訊</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/jquery.jscrollpane.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/demo.css" />	
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" href="css/indexMain.css" />
		<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css"/>
		<link rel="stylesheet" href="css/register.css" />
		<link rel="stylesheet" href="css/login.css" />
		<link rel="stylesheet" href="css/collect.css" />
		<link rel="stylesheet" href="css/personal1.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->

		<!--web icon-->
    	<link rel="Shortcut Icon" type="image/x-icon" href="images/logo.png" />
	</head>
    
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h2 class="logo"><a href="/"><img src="images/TITLE.png" width="260" height="57"></a></h2>

						<!-- Nav -->
							<nav id="nav">
								<ul>
                                	<!--首頁-->
									<li><a class="icon fa-home" href="/userIndex"><span>首頁</span></a></li>
                                    <!-------------------------------------------------------------------------->
                                    <!--排行榜-->
									<li>
										<a href="#" class="icon fa-bar-chart-o"><span>排行榜</span></a>
										<ul>
											<li><a href="/userbookRank">熱門書排行榜</a></li>
											<li><a href="/userpointRank">TB排行榜</a></li>
										</ul>
									</li>
                                   	<!-------------------------------------------------------------------------->
                                   	<!--討論區-->
									<li><a class="icon fa-cog" href="/userDiscuss"><span>討論區</span></a></li>
                                    <!--網站規則-->
									<li><a class="icon fa-retweet" href="/userRules"><span>網站規則</span></a></li>
                                    <!--個人資訊-->
									<li><a class="icon fa-sitemap" href="/personal0"><span>個人資訊</span></a></li>
								</ul>

								<!--login button-->
								<div id="login">
									<p class="logout"><a href="/logout">登出</a></p>
								</div>
							</nav>
					</div>
				</div>


			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">

									<!-- Excerpts -->
										<section>
											<ul class="divided">
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<p class="photo"><a href="/personal0 %>"><img src="<%= "images/" +avatar %>" width="120" height="120"></a></p>

																<h3><a href="/personal0 %>"><%= nickName %></a></h3>
                                                                <p class="persign"><%= sign %></p>
                                                                <!--<span class="level">Lv.20</span>-->
																
															</header>
                                                            <p class="clear"></p>
														</article>
														
												</li>
												
												<li>

													<article class="box excerpt">
															<header>
																<h4>動態消息</h4>
															</header>
															<ul>
															<% for(var i=0; i<messengeData.length; i++){ %>
																<li>
																	<p class="photo"><img src="<%= "images/" + messengeData[i].avatar %>" width="50" height="50"></p>
																	<p class="persign1"><strong><%= messengeData[i].nickName %></strong>回覆了你<strong><%= messengeData[i].noteTitle %></strong>的筆記</p>
																</li>
															 <% } %>	
																
															</ul>	
																
																
														</article>

												</li>
												<li>

													

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h4>好書推薦</h4>
															</header>
															<ul>
																<li>
																	<section>
																		<p class="picBook">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src = "<%= bookData[0].picture %>" width="180" height="200"/></p>
																	</section>
																	<article>
																		<h2><%= bookData[0].bookName %></h2>
																		<p><%= bookData[0].content %>&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;</p>
																		<a href="/userdiscuss3?bookName=<%= bookData[0].bookName %>" class="button">前往查看...</a>
																	</article>
																</li>
																</ul>
														</article>

												</li>
											</ul>
										</section>
								</div>
                                
                                
                     <!-- Content -->
                          <div id="content" class="8u 12u(mobile) important(mobile)">
                             <!-- main -->
                             
                                <div id="collectionLarge">
                                 <p onclick="myArticle()" class="title">我的文章&nbsp;-&nbsp;2018年10月</p>
                                    <ul id="myArticle">
										<% for(var i=0; i<noteData.length; i++){ %>
											<li>
												<section>
													<p class="picBook"><img src = "<%= noteData[i].picture %>" width="180" height="200"/></p>
												</section>
												<article>
													<h2><%= noteData[i].noteTitle %></h2>
													<textarea rows="3" max-rows="20" readonly value="txt"><%= noteData[i].noteContent %></textarea>
													
													
													<p>
													最終修改時間 : <%= myDateFormat(noteData[i].date) %>
													</p>
																										
												</article>
											</li>
                                        <% } %> 								 
                                    </ul>
									
                                </div>
								
                                <p class="clear"></p>
                            <!------------------------------------>   
                     <!--<div id="collectionSmall">-->
									<p onclick="myCollection()" class="title2">我的文章&nbsp;-&nbsp;2018年10月</p>
									
									
									<p onclick="myCollection()" class="title2">收藏列表&nbsp;-&nbsp;2018年2月</p>
                                    <ul id="myCollection">
										<div id="abgne-block-20120327">
											
											<div class="tab_container">
											<% for(var i=0; i<collectionData.length; i++){ %>		
											 <ul class="tab_content">
														  
											  <li>
													
												<img src = "<%= collectionData[i].picture %>" width="190" height="190" />
											   <h3 ><%= collectionData[i].bookName %></h3>
											   <p><br>作者：<%= collectionData[i].author %> <br> 出版社：<%= collectionData[i].publisher %> <br> 
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											   <a href="/userdiscuss3?bookName=<%= collectionData[i].bookName %>" class="button">前往查看...</a> </p>
											  
											 
											  </li>
											  
											  
											 </ul>
											 <% } %>
											 
											 
										  <a style='float:right;margin-right:10px;' href="#">TOP</a>
											</div>
											</ul>
										   </div>
									  
					 
				<!--</div>-->
                                
                             
                                
                             
			<!-- Footer -->
			<!--
			<div id="footer-wrapper">
				<div id="footer" class="container">
					<header>
						<h2><strong>About Us </strong></h2>
					</header>
					<div class="row">
						<div class="6u 12u(mobile)">
							<section>
								<p>Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat Phaselamet
								mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur
								leo nibh, rutrum eu malesuada.</p>
								</form>
							</section>
						</div>
						<div class="6u 12u(mobile)">
							<section>
								<div class="row">
									<div class="6u 12u(mobile)">
										<ul class="icons">
											<li class="icon fa-home">
												100台北市<br />
												中正區濟南路一段321號
											</li>
											<li class="icon fa-phone">
												(000) 000-0000
											</li>
											<li class="icon fa-envelope">
												<a href="#">107511@ntub.edu.tw</a>
											</li>
										</ul>
									</div>
									<div class="6u 12u(mobile)">
										<ul class="icons">
											<li class="icon fa-twitter">
												<a href="#">@untitled-tld</a>
											</li>
											<li class="icon fa-instagram">
												<a href="#">instagram.com/untitled-tld</a>
											</li>
											<li class="icon fa-facebook">
												<a href="#">facebook.com/untitled-tld</a>
											</li>
										</ul>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>-->
				<!--
				<div id="copyright" class="container">
					<ul class="links">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>						</li>
					</ul>
				</div>
				-->
			</div>
		<a href="/personal"><img class="fix" src="images/plus-g.png"></a>

		<!-- Scripts -->
        	<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/skel-viewport.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/register.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>
			
			<script src="js/collect.js"></script>
			<a href="/personal"><img class="fix" src="images/plus-g.png"></a>
			<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
			<script type="text/javascript" src="js/jquery.contentcarousel.js"></script>
			<script type="text/javascript">
			$('#ca-container').contentcarousel();
		</script>
	</body>
</html>