<!DOCTYPE HTML>
<html>
	<head>
		<title>Take Book | 文青排行榜</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="./js/ie/html5shiv.js"></script><![endif]-->
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!--web icon-->
    	<link rel="Shortcut Icon" type="image/x-icon" href="images/logo.png" />
        <link rel="stylesheet" href="./css/menu.css" />
		<link rel="stylesheet" href="./css/pointmain.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="./css/ie8.css" /><![endif]-->
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">
<!-- Logo -->
							<h2 class="logo"><a href="/index"><img src="images/TITLE.png" width="260" height="57"></a></h2>

						<!-- Nav -->
							<nav id="nav">
								<ul>
                                	<!--首頁-->
									<li><a class="icon fa-home" href="/#"><span>首頁</span></a></li>
                                    <!-------------------------------------------------------------------------->
                                    <!--排行榜-->
									<li>
										<a href="#" class="icon fa-bar-chart-o"><span>排行榜</span></a>
										<ul>
											<li><a href="/bookrank">熱門書排行榜</a></li>
											<li><a href="/pointrank">TB排行榜</a></li>
										</ul>
									</li>
                                   	<!-------------------------------------------------------------------------->
                                   	<!--討論區-->
									<li><a class="icon fa-cog" href="discuss"><span>討論區</span></a></li>
                                    <!--網站規則-->
									<li><a class="icon fa-retweet" href="rules"><span>網站規則</span></a></li>                                    
								</ul>
							</nav>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
                     
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">

									<!-- Excerpts -->
										<section>
											<ul class="divided">
												

													<!-- Excerpt -->
														<article class="box excerpt">
                                                            <nav id="menu">
                                                                <header class="major">
                                                                    <h2>分類 Category</h2>
                                                                </header>
                                                            <ul>
                                                               <li>
                                                                    <span class="opener"><a href="/pointrank">2018</a></span>
                                                                    <ul>
                                                                        <li><a href="#">1</a></li>
                                                                        <li><a href="#">2</a></li>
                                                                        <li><a href="#">3</a></li>
                                                                        <li><a href="#">4</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span class="opener"><a href="/pointrank2016">2016</a></span>
                                                                    <ul>
                                                                        <li><a href="#">1</a></li>
                                                                        <li><a href="#">2</a></li>
                                                                        <li><a href="#">3</a></li>
                                                                        <li><a href="#">4</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                            </nav>
                                                        </article>
	

												</li>
											
											</ul>
										</section>


								</div>

							<!-- Content -->
						<div id="content" class="8u 12u(mobile) important(mobile)">
                       
                       <div id="products_contents">
							<div align="left">
					          <ul>
					            <!-- ▼▼分類1從此開始▼▼ -->
					            <li id="cat_01"> </li>
			             	 </ul>
					     
                      		</div>
				        <ul>
						   <p align="left" class="text0" >2017TB排行榜  2017PERSON RANK</h3>
                            <% for(var i=0; i<pointData.length; i++) {%>
                               <table class="point">
									<tr><td><h1  align="left">NO.<%= pointData[i].rankNo %></h1>
									 <p align="left" class="photo"></p>
									 <img class="logo" src="images/<%= pointData[i].avatar %>" width="100" height="100" align="absmiddle" /></p></td></tr>   
									<tr><td><p align="left" class="text1" align="left"><%= pointData[i].title %></h3></td></tr>
									<tr><td><p align="left" class="text"><%= pointData[i].nickName %></p></td></tr>
									<tr><td><p align="left" class="price"> TB值:<%= pointData[i].point %></a></p></td></tr>
									<tr><td><img class="logo2" src="images/<%= pointData[i].picture %>" width="10" height="10" /></td></tr>	    
							   </table>
							<% } %> 
							<% for(var i=0; i<rankData.length; i++) {%>
                            <table class="point1">
                                    
									<td><tr><h1 align="left">No.<%= rankData[i].rankNo %></h1></tr></td>
                                    <td><tr><p align="left" class="photo"></tr></td>
									<td><tr><img class="logo"src="images/<%= rankData[i].avatar %>" width="100" height="100" align="absmiddle"/></p></tr></td>
									<td><tr><p align="left" class="text2" align="left"><%= rankData[i].title %></h3></tr></td>
									<td><tr><p align="left" class="text"><%= rankData[i].nickName %></p></tr></td>
									<td><tr><p align="left" class="price">TB值:<%= rankData[i].point %></p></tr></td>
									<td><tr><img class="logo2" src="images/<%= rankData[i].picture %>" width="10" height="10" /></tr></td>
							</table>
							  <% } %>   
					        <p align="left" class="pagetop"><a href="/pointrank2017">回到本頁最上方</a></p>
							</ul>
						
						</div>
					   
					</div>
					
				</div>

		<!-- Scripts -->
			<script src="./js/jquery.min.js"></script>
			<script src="./js/jquery.dropotron.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/skel-viewport.min.js"></script>
			<script src="./js/util.js"></script>
			<!--[if lte IE 8]><script src="./js/ie/respond.min.js"></script><![endif]-->
			<script src="./js/rank.js"></script>

	</body>
</html>