<!DOCTYPE HTML>
<html>
	<head>
		<title>Take Book | 書本排行榜</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!--web icon-->
    	<link rel="Shortcut Icon" type="image/x-icon" href="images/logo.png" />

		<!--[if lte IE 8]><script src="./js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/login.css" />
        <link rel="stylesheet" href="./css/menu.css" />
		<link rel="stylesheet" href="./css/rank.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="./css/ie8.css" /><![endif]-->
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h2 class="logo"><a href="/"><img src="images/TITLE.png" width="260" height="57"></a></h2>
							

						<!-- Nav -->
							<nav id="nav">
								<ul>
                                	<!--首頁-->
									<li><a class="icon fa-home" href="/userIndex"><span>首頁</span></a></li>
                                    <!-------------------------------------------------------------------------->
                                    <!--排行榜-->
									<li>
										<a href="#" class="icon fa-bar-chart-o"><span>排行榜</span></a>
										<ul>
											<li><a href="/userbookrank">熱門書排行榜</a></li>
											<li><a href="/userpointRank">TB排行榜</a></li>
										</ul>
									</li>
                                   	<!-------------------------------------------------------------------------->
                                   	<!--討論區-->
									<li><a class="icon fa-cog" href="/userDiscuss"><span>討論區</span></a></li>
                                    <!--網站規則-->
									<li><a class="icon fa-retweet" href="/userRules"><span>網站規則</span></a></li>
                                    <!--個人資訊-->
									<li><a class="icon fa-sitemap" href="/personal0"><span>個人資訊</span></a></li>
								</ul>
								
								<!--login button-->
								<div id="login">
									<p class="logout"><a href="/logout">登出</a></p>
								</div>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">

									<!-- Excerpts -->
										<section>
											<ul class="divided">
												

													<!-- Excerpt -->
														<article class="box excerpt">
                                                            <nav id="menu">
                                                                <header class="major">
                                                                    <h2>分類 Category</h2>
                                                                </header>
                                                            <ul>
                                                               
                                                               
                                                                 <li>
                                                                    <span class="opener"><a href="/userbookrank">2018</a></span>
                                                                    <ul>
                                                                        <li><a href="#">1</a></li>
                                                                        <li><a href="#">2</a></li>
                                                                        <li><a href="#">3</a></li>
                                                                        <li><a href="#">Feugiat Veroeros</a></li>
                                                                    </ul>
                                                                    
                                                                </li>
                                                                
                                                               
                                                                <li>
                                                                    <span class="opener"><a href="/userbookrank2017">2017</a></span>
                                                                    <ul>
                                                                        <li><a href="#">Lorem Dolor</a></li>
                                                                        <li><a href="#">Ipsum Adipiscing</a></li>
                                                                        <li><a href="#">Tempus Magna</a></li>
                                                                        <li><a href="#">Feugiat Veroeros</a></li>
                                                                    </ul>
                                                                    
                                                                </li>
                                                            </ul>
                                                            </nav>
                                                        </article>
	

												</li>
											
											</ul>
										</section>


								</div>

							<!-- Content -->
						<div id="content" class="8u 12u(mobile) important(mobile)">
                              <div id="products_contents" >
									
							<!-- ▼▼分類1從此開始▼▼ -->
							   <p align="left" class="text0" >本月熱門書排行  BOOK RANK</h3>
								
								
								<ul>
									<!-- ▼▼商品1從此開始▼▼ -->
									<% for(var i=0; i<data.length; i++) {%>
									<li class="clearfix">
										<h1  align="left">Top.<%= data[i].rankNo %></h1>
										
                                        <div class="clad" clad >
                                        <p class="imageView"><a data-fancybox="gallery" href="<%= data[i].picture %>">
                                        <img  class="bookpic" src="<%= data[i].picture %>" alt="黃椒 照片" width="180" height="180" align="absmiddle" /></a></p>
										<h3><a href="/userDiscuss2?bookNo=<%= data[i].bookNo %>"> <%= data[i].bookName %> </a></h3>
                                           
                                          
                                          <p class="price"></p>
                                          <p align="left" class="text1" >作者:  <%= data[i].author %> 著<br />
                                            出版社: <%= data[i].publisher %> 出版</p>
                                          <p align="left" class="text2" > <%= data[i].content %> </p>
                                        </div>
                                      <% } %>     
                                       
									<!-- ▲▲商品1到此為止▲▲ -->
									<!-- ▼▼商品2從此開始▼▼ -->
                                    
                                  
								
								<p align="left" class="pagetop"><a href="/userbookrank2016">回到本頁最上方</a></p>
							</li>
							<!-- ▲▲分類5到此為止▲▲ -->
						
				  </div>
					
				</div>

			

		<!-- Scripts -->
			<script src="./js/jquery.min.js"></script>
			<script src="./js/jquery.dropotron.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/skel-viewport.min.js"></script>
			<script src="./js/util.js"></script>
			<!--[if lte IE 8]><script src="./js/ie/respond.min.js"></script><![endif]-->
			<script src="./js/rank.js"></script>
			<script src="./js/js.js"></script>
			<script src="./js/main.js"></script>
			<script src="./js/text2.js"></script>
	</body>
</html>